<!DOCTYPE html>
<html>
  
<head>
  
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <!--<link href="../../bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="../dist/game-cards.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  
</head>
<body>


<script type="text/html" id="cards-template">

  <%
  
    var count = _.find(arguments,function(i){ return i.name=="count" });
    count = (count.value)? parseInt(count.value) : 1;
    
    var classes = [];
    
    var mode = _.find(arguments,function(i){ return i.name=="mode" });
    if(mode && mode.value) classes.push('cards--'+mode.value);
    
    var reverse = _.find(arguments,function(i){ return i.name=="reverse" });
    if(reverse && reverse.value=='on') classes.push('cards--reverse');
    
    var overlap = _.find(arguments,function(i){ return i.name=="overlap" });
    if(overlap && overlap.value=='on') classes.push('cards--overlap');
    
    var align = _.find(arguments,function(i){ return i.name=="align" });
    if(align && align.value) classes.push('cards--align-'+align.value);
    
  %>
  
  <div class="cards <%= classes.join(' ') %>">
  <% for(var i=0; i<count; i++){ %>
  
      <div class="card">
          <div class="turner">
          <div class="flipper">
            <div class="back">
              <strong>B</strong>
            </div>
            <div class="face">
              <strong data-value="<%= i+1 %>"><%= i+1 %></strong>
            </div>
          </div>
          </div>
      </div>
  
  <% } %>
  </div>
  
</script>


<section class="hero">
  
  <div class="container">
  <div class="wrapper">
    <h1>CSS Game Cards is micro-framework for displaying interactive animated game cards.</h1>
    <h2>This document describes how it works.</h2>
    <p class="metadata">
      Version 1.4.2 - MIT license
    </p>
  </div>
  </div>
  
</section>

<div class="card-view cards cards--debug">

  <label class="input-debug">
    <input type="checkbox" value="true" name="3d" checked>
    <i class="material-icons"></i>
    <span>debug3D</span>
  </label>

  <div class="card">
    <div class="turner">
    <div class="flipper">
      <div class="back">
        <strong data-value="B">B</strong>
      </div>
      <div class="face">
        <strong data-value="A">A</strong>
      </div>
    </div>
    </div>
  </div>

</div>
    
<form class="card-form">

  <!--
  <div class="form-group">
  <label>debug</label>
  <div class="btn-group">
    <label>
      <input type="checkbox" name="3d" value="true" checked>
      <i class="material-icons"></i>
      <span>3D view</span>
    </label>
  </div>
  </div>
  -->

  <div class="form-group">
  <label>flipper</label>
  <div class="btn-group">
    <label>
      <input type="checkbox" value="true" name="flip">
      <i class="material-icons"></i>
      <span>flip</span>
    </label>
    <label>
      <input type="checkbox" value="true" name="spin">
      <i class="material-icons"></i>
      <span>spin</span>
    </label>
  </div>
  </div>

  <div class="form-group">

  <label>turner</label>


  <div class="btn-group">

    <label>
      <input type="radio" name="turn" value="default" checked>
      <i class="material-icons"></i>
      <span>default</span>
    </label>

    <label>
      <input type="radio" name="turn" value="left">
      <i class="material-icons"></i>
      <span>left</span>
    </label>

    <label>
      <input type="radio" name="turn" value="right">
      <i class="material-icons"></i>
      <span>right</span>
    </label>

    <label>
      <input type="radio" name="turn" value="down">
      <i class="material-icons"></i>
      <span>down</span>
    </label>

  </div>

  <div class="btn-group">
    <label>
      <input type="checkbox" value="true" name="twist">
      <i class="material-icons"></i>
      <span>twist</span>
    </label>
  </div>

  </div>
 
</form>




<div class="cards-view">
  
</div>

<form class="cards-form">
  
  <div class="buttons">
    
      <div class="form-group">
        
        <label>contents</label>
        
        <a href="javascript:;" class="button-count btn btn-xs btn-link" data-value="1">
          <i class="material-icons">exposure_plus_1</i>
        </a>
        <a href="javascript:;" class="button-count btn btn-xs btn-link" data-value="-1">
          <i class="material-icons">exposure_neg_1</i>
        </a>
        
        <input name="count" type="hidden" value="3" />
                                      
      </div>
  
      <div class="form-group">

        <label>mode</label>
        
        <div class="btn-group">
          
          <label>
            <input type="radio" name="mode" value="row">
            <i class="material-icons"></i>
            <span>row</span>
          </label>

          <label>
            <input type="radio" name="mode" value="column">
            <i class="material-icons"></i>
            <span>column</span>
          </label>

          <label>
            <input type="radio" name="mode" value="fan">
            <i class="material-icons"></i>
            <span>fan</span>
          </label>
  
          <label>
            <input type="radio" name="mode" value="random">
            <i class="material-icons"></i>
            <span>random</span>
          </label>
          
        </div>
        
      </div>
    
      <div class="form-group">
        <label>reverse</label>
        <div class="btn-group">
          <label>
            <input type="checkbox" name="reverse">
            <i class="material-icons"></i>
            <span>reverse</span>
          </label>
        </div>
      </div>
    
      <div class="form-group">
        <label>overlap</label>
        <div class="btn-group">
          <label>
            <input type="checkbox" name="overlap">
            <i class="material-icons"></i>
            <span>overlap</span>
          </label>
        </div>
      </div>
    
      <div class="form-group">

        <label>alignment</label>
        
        <div class="align-group">
          
          <label>
            <input type="radio" name="align" value="top-left">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="top">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="top-right">
            <i class="material-icons"></i>
          </label>
          
          <br>
          
          <label>
            <input type="radio" name="align" value="left">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="center">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="right">
            <i class="material-icons"></i>
          </label>
          
          <br>
          
          <label>
            <input type="radio" name="align" value="bottom-left">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="bottom">
            <i class="material-icons"></i>
          </label>

          <label>
            <input type="radio" name="align" value="bottom-right">
            <i class="material-icons"></i>
          </label>
          
        </div>
        
      </div>
    
    
  </div>
  
</form>





<script src="lib/jquery.min.js"></script>
<script src="lib/underscore-min.js"></script>
<script src="lib/backbone-min.js"></script>


<script src="js/CardModel.js"></script>
<script src="js/CardView.js"></script>
<script src="js/CardFormView.js"></script>

<script src="js/CardsModel.js"></script>
<script src="js/CardsView.js"></script>
<script src="js/CardsFormView.js"></script>

<script src="js/app.js"></script>

</body>
</html>