@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy:400,700');

.game-cards.cards-theme--uno{

  $red: #ff0039;
  $green: #089600;
  $blue: #0041ff;
  $yellow: #ffb600;
  
  .card{
    font-family: 'Luckiest Guy', sans-serif;
  }
  
  .card .face{
    color: #FFF;
    background: #000;
    line-height: 1;
    
    &:after{
      display: block;
      position: absolute;
      top: 0; left: 0; right:0; bottom:0;
      border: 0.07em solid;
      border-radius: 0.11em;
      content: '';
    }
    .value{
      background: #FFF;
      position: absolute;
      border-radius: 100%;
      width: 1.24em;
      height: 1.24em;
      color: #000;
      font-size: .7em;
      top: 50%; left: 50%;
      margin-top: -.62em;
      margin-left: -.62em;
      text-align: center;
      transform: skewX(-15deg);

      span{
        display: inline-block;
        transform: skewX(15deg);
        line-height: 1.5;
      }
      
    }
    
    .value-up{
      font-size: .2em;
      top: 1.2em; left: 1.2em;
    }
    
    .value-down{
      font-size: .2em;
      top: auto; left: auto;
      bottom: .6em; right: .6em;
    }
    
  }
  
  .card .back{
    color: #FFF;
    background: #000;
    
    background: repeating-conic-gradient(#000 0 11deg, #222 0 21deg);
    
    line-height: 1;
    
    &:after{
      display: block;
      position: absolute;
      top: 0; left: 0; right:0; bottom:0;
      border: 0.07em solid;
      border-radius: 0.11em;
      content: '';
    }
    
    &> span{
      background: #FFF;
      display: inline-block;
      border-radius: 100%;
      width: 1.24em;
      height: 1.24em;
      color: #000;
      line-height: 1.4;
      font-size: .6em;
      position: relative;
      top: 15%;
      transform: skewX(-15deg);

      &> span{
        display: inline-block;
        transform: translateY(-25%) skewX(15deg);
        font-size: .5em;
      }
      
    }
    
  }


  .card.red .face{
      background: $red;
      .value{ color: $red }
  }

  .card.green .face{
    background: $green;
    .value{ color: $green }
  }
  
  .card.blue .face{
    background: $blue;
    .value{ color: $blue }
  }
  
  .card.yellow .face{
    background: $yellow;
    .value{ color: $yellow }
  }
  
  
}