.card,
.card .turner,
.card .flipper,
.card .back,
.card .face{
	position: relative;
	width: $card-width;
	height: $card-height;
	line-height: $card-height;
}

.card{
    display: inline-block;
    text-align: center;
    transform-origin: 50% 50%;
    transition: transform 0.6s;
    z-index: 0;
    @include noselect;
}

.card .turner,
.card .flipper{
  position: relative;
	transform-style: preserve-3d;
	transform-origin: 50% 50%;
	transition: $transition;
}

.card .back,
.card .face {
	position: absolute;
	top: 0; left: 0;
	backface-visibility: hidden;
}

.card .flipper .face {
  transform: rotateY(0deg);
  z-index: 1;
}

.card .flipper .back {
  transform: rotateY(180deg);
  z-index: 2;
}
