
$color-debug: #00BCD4;

$debug-gutter: 1em;

.cards--debug{
    
  perspective-origin: center center;
  perspective: 40em;

}


.cards--debug .card{
  perspective: initial;
  transform-style: preserve-3d;
}

.cards--debug .card,
.cards--debug .card .turner,
.cards--debug .card .flipper{
  color: $color-debug;
}

.cards--debug .card .back,
.cards--debug .card .face{
  
  line-height: $card-height;
  font-weight: 800;
  
  //make both card sides' backface visible
  backface-visibility: visible;
  
}




/**
 *  LAYER NAME LABELS
 *
 */

.cards--debug{

  .card{
    
    &:before,
    .turner:before,
    .flipper:before,
    .back:before,
    .face:before{
      content: "." attr(class);
      font-family: Consolas, monaco, monospace;
      display: inline-block;
      line-height: 1;
      font-weight: normal;
      color: $color-debug;
      position: absolute;
      font-size: 0.25em;
      left: 0;
      top: -1.5em;
    }

    &:before{
      content: '.card';
    }
    
  }
}



/**
 *  OUTLINES
 *
 */

.cards--debug .card:after,
.cards--debug .card .turner:after,
.cards--debug .card .flipper:after{
  content: '';
  display: block;
  position: absolute;
  top: 0; left: 0;
  border: 0.03em solid $color-debug;
  border-radius: .125em;
	width: $card-width;
	height: $card-height;
	color: $color-debug;
}


.cards--debug .card .turner:after,
.cards--debug .card .flipper:after{
  border-style: dashed;
}

.cards--debug .card .turner:after,
.cards--debug .card .flipper:after{
  background: rgba(0,221,255,0.25);
}






.cards--debug .card{
  transform:
    translateX(-1*$debug-gutter) translateY($debug-gutter) translateZ(0em)
    rotateX(30deg) rotateY(30deg) rotateZ(-20deg);
}

.cards--debug .card .turner{
	transform: translateZ($debug-gutter) rotateZ(0deg);
}

.cards--debug .card .flipper{
	transform: translateZ(2*$debug-gutter) rotateY(0deg);
}

.cards--debug .card .back{
  transform: translateZ(-1*$debug-gutter) rotateY(180deg);
}

.cards--debug .card .face{
  transform: translateZ($debug-gutter) rotateY(0deg);
}





/**
 *  FLIP TRANSFORMS
 *  applicable to .flipper layer
 *
 */

.cards--debug{

  .card .flipper{
     transform: translateZ(2*$debug-gutter) rotateY(0deg);
  }
  
  .card.flip .flipper{
  	transform: translateZ(2*$debug-gutter) rotateY(180deg);
  }

  .card.spin .flipper{
  	transform: translateZ(2*$debug-gutter) rotateY(360deg);
  }

  .card.spin.flip .flipper{
  	transform: translateZ(2*$debug-gutter) rotateY(540deg);
  }

}



/**
 *  TURN TRANSFORMS
 *  applicable to .turner layer
 *
 */

.cards--debug{

  .card .turner{
     transform: translateZ($debug-gutter) rotateZ(0deg);
  }
  
  .card.turn-right .turner{
     transform: translateZ($debug-gutter) rotateZ(90deg);
  }
  
  .card.turn-down .turner{
     transform: translateZ($debug-gutter) rotateZ(180deg);
  }
  
  .card.turn-left .turner{
     transform: translateZ($debug-gutter) rotateZ(-90deg);
  }
  
  .card.twist .turner{
     transform: translateZ($debug-gutter) rotateZ(360deg);
  }
  
  .card.turn-right.twist .turner{
     transform: translateZ($debug-gutter) rotateZ(450deg);
  }
  
  .card.turn-down.twist .turner{
     transform: translateZ($debug-gutter) rotateZ(540deg);
  }
  
  .card.turn-left.twist .turner{
     transform: translateZ($debug-gutter) rotateZ(270deg);
  }
 
}