/* BASIC CARD THEME */

.card{
  
  $border-radius: $card-width * .125;
  
  .face,
  .back{
  	box-shadow: 0 0.1em 0.7em rgba(0,0,0,0.3);
  	border-radius: $border-radius;
  	background: #FFF;
  	line-height: $card-height;
  	
  	> i{
      vertical-align: text-bottom;
    }

  }
  
  &.selected{
    
    .face:after,
    .back:after{
      content: '';
      display: block;
      position: absolute;
      top: 0; left: 0;
      border: 0.15em solid #00DDFF;
      border-radius: $border-radius;
      width: $card-width;
      height: $card-height;
    }
    
  }
    
}

