/**
 *  CARD TRANSFORMS
 *  applicable to .card element
 *
 */
 
.card{
  perspective: 6em;
  perspective-origin: 50% 50%;
  transform-origin: $card-width*.5 $card-height*.5;
}


/**
 *  TURNER TRANSFORMS
 *  applicable to .turner layer
 *
 */
 
.card .turner{
   transform: rotateZ(0deg);
}

.card.rotate .turner{
   transform: rotateZ(90deg);
}

.card.twist .turner{
   transform: rotateZ(360deg);
}

.card.twist.rotate .turner{
   transform: rotateZ(450deg);
}

 
 
/**
 *  FLIPPER TRANSFORMS
 *  applicable to .flipper layer
 *
 */

.card .flipper{
	transform: rotateY(0deg);
}

.card.flip .flipper{
	transform: rotateY(180deg);
}

.card.spin .flipper{
	transform: rotateY(360deg);
}

.card.spin.flip .flipper{
	transform: rotateY(540deg);
}