/**
 *  CARD TRANSFORMS
 *  applicable to .card element
 *
 */
 
.card{
  perspective: 6em;
  perspective-origin: 50% 50%;
  transform-origin: $card-width*.5 $card-height*.5;
}


/**
 *  FLIP TRANSFORMS
 *  applicable to .flipper layer
 *
 */

.card .flipper{
	transform: rotateY(0deg);
}

.card.flip .flipper{
	transform: rotateY(180deg);
}

.card.spin .flipper{
	transform: rotateY(360deg);
}

.card.spin.flip .flipper{
	transform: rotateY(540deg);
}


/**
 *  TURN TRANSFORMS
 *  applicable to .turner layer
 *
 */
 
.card .turner{
   transform: rotateZ(0deg);
}

.card.turn-right .turner{
   transform: rotateZ(90deg);
}

.card.turn-down .turner{
   transform: rotateZ(180deg);
}

.card.turn-left .turner{
   transform: rotateZ(-90deg);
}

.card.twist .turner{
   transform: rotateZ(360deg);
}

.card.turn-right.twist .turner{
   transform: rotateZ(450deg);
}

.card.turn-down.twist .turner{
   transform: rotateZ(540deg);
}

.card.turn-left.twist .turner{
   transform: rotateZ(270deg);
}


 
 