/**
 *  CARD TRANSFORMS
 *  applicable to .card element
 *
 */
 
.card{
  perspective: 6em;
  perspective-origin: 50% 50%;
  transform-origin: $card-width*.5 $card-height*.5;
}


/**
 *  TURN TRANSFORMS
 *  applicable to .turner layer
 *
 */
 
.card .turner{
   transform: rotateZ(0deg);
}

.card.turn-90 .turner{
   transform: rotateZ(90deg);
}

.card.turn-180 .turner{
   transform: rotateZ(180deg);
}

.card.turn-270 .turner{
   transform: rotateZ(270deg);
}

.card.twist .turner{
   transform: rotateZ(360deg);
}

.card.turn-90.twist .turner{
   transform: rotateZ(450deg);
}

.card.turn-180.twist .turner{
   transform: rotateZ(540deg);
}

.card.turn-270.twist .turner{
   transform: rotateZ(630deg);
}


 
 
/**
 *  FLIP TRANSFORMS
 *  applicable to .flipper layer
 *
 */

.card .flipper{
	transform: rotateY(0deg);
}

.card.flip .flipper{
	transform: rotateY(180deg);
}

.card.spin .flipper{
	transform: rotateY(360deg);
}

.card.spin.flip .flipper{
	transform: rotateY(540deg);
}