@mixin noselect{
  touch-callout: none;
  user-select: none;
}

@mixin cardsbox{
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin card-transition($fn, $easing, $duration){
  transition: $fn $easing $duration;
}

@mixin transform($tx, $ty, $tz, $rx, $ry, $rz){
  transform:
  	translateX($tx) translateY($ty) translateZ($tz)
    rotateX($rx) rotateY($ry) rotateZ($rz);
}

@mixin rotate3D($rx, $ry, $rz){
  transform: rotateX($rx * 1deg) rotateY($ry * 1deg) rotateZ($rz * 1deg);
}

@function applyTransform($t, $tx, $ty, $tz, $rx, $ry, $rz){
  
  @return (
  	nth($t, 1) + $tx, nth($t, 2) + $ty, nth($t, 3) + $tz,
  	nth($t, 4) + $rx, nth($t, 5) + $ry, nth($t, 6) + $rz,
  )

}

//card sizing must be defined based on 1em for the sake of scalability
$card-width: 1em;
$card-height: 1.5em;
$card-radius: $card-width * .1;
  

$transition-duration: 0.5s;
$transition-fn: cubic-bezier(0.175, 0.825, 0.3, 1.15);
$transition: transform $transition-duration $transition-fn;

$gutter: 0.35em;


@mixin cards--align($direction, $reverse){
  
  @if $direction != 'column'{
    
    flex-direction: row;
    
    &.cards--align-left,
    &.cards--align-center-left{
      justify-content: flex-start;
      align-items: center;
    }
    
    /* default behavior
    &.cards--align-center,
    &.cards--align-center-center{
      justify-content: center;
      align-items: center;
    }
    */
    &.cards--align-right,
    &.cards--align-center-right{
      justify-content: flex-end;
      align-items: center;
    }
    
    &.cards--align-top-left{
      justify-content: flex-start;
      align-items: flex-start;
    }
    &.cards--align-top,
    &.cards--align-top-center{
      justify-content: center;
      align-items: flex-start;
    }
    &.cards--align-top-right{
      justify-content: flex-end;
      align-items: flex-start;
    }
    
    &.cards--align-bottom-left{
      justify-content: flex-start;
      align-items: flex-end;
    }
    &.cards--align-bottom,
    &.cards--align-bottom-center{
      justify-content: center;
      align-items: flex-end;
    }
    &.cards--align-bottom-right{
      justify-content: flex-end;
      align-items: flex-end;
    }
    
    @if $reverse{
      
      flex-direction: row-reverse;
      
      &.cards--align-left,
      &.cards--align-top-left,
      &.cards--align-center-left,
      &.cards--align-bottom-left{
        justify-content: flex-end;
      }
      
      &.cards--align-right,
      &.cards--align-top-right,
      &.cards--align-center-right,
      &.cards--align-bottom-right{
        justify-content: flex-start;
      }
      
    }
    
  }
  @else{
    
    flex-direction: column;
    
    &.cards--align-left,
    &.cards--align-center-left{
      align-items: flex-start;
      justify-content: center;
    }
    
    /* default behavior
    &.cards--align-center,
    &.cards--align-center-center{
      align-items: center;
      justify-content: center;
    }
    */
    &.cards--align-right,
    &.cards--align-center-right{
      align-items: flex-end;
      justify-content: center;
    }
    
    &.cards--align-top-left{
      align-items: flex-start;
      justify-content: flex-start;
    }
    &.cards--align-top,
    &.cards--align-top-center{
      align-items: center;
      justify-content: flex-start;
    }
    &.cards--align-top-right{
      align-items: flex-end;
      justify-content: flex-start;
    }
    
    &.cards--align-bottom-left{
      align-items: flex-start;
      justify-content: flex-end;
    }
    &.cards--align-bottom,
    &.cards--align-bottom-center{
      align-items: center;
      justify-content: flex-end;
    }
    &.cards--align-bottom-right{
      align-items: flex-end;
      justify-content: flex-end;
    }

      
    @if $reverse{

      flex-direction: column-reverse;
      
      &.cards--align-top,
      &.cards--align-top-left,
      &.cards--align-top-center,
      &.cards--align-top-right{
        justify-content: flex-end;
      }
      
      &.cards--align-bottom,
      &.cards--align-bottom-left,
      &.cards--align-bottom-center,
      &.cards--align-bottom-right{
        justify-content: flex-start;
      }
      
    }
    
  }
  
}
