@mixin noselect{
  touch-callout: none;
  user-select: none;
}

@mixin card-transition($fn, $easing, $duration){
  transition: $fn $easing $duration;
}

@mixin transform($tx, $ty, $tz, $rx, $ry, $rz){
  transform:
  	translateX($tx) translateY($ty) translateZ($tz)
    rotateX($rx) rotateY($ry) rotateZ($rz);
}

@mixin rotate3D($rx, $ry, $rz){
  transform: rotateX($rx * 1deg) rotateY($ry * 1deg) rotateZ($rz * 1deg);
}

@function applyTransform($t, $tx, $ty, $tz, $rx, $ry, $rz){
  
  @return (
  	nth($t, 1) + $tx, nth($t, 2) + $ty, nth($t, 3) + $tz,
  	nth($t, 4) + $rx, nth($t, 5) + $ry, nth($t, 6) + $rz,
  )

}

$card-width: 1em;
$card-height: 1.5em;
$card-radius: $card-width * .1;
  

$transition-duration: 0.5s;
$transition-fn: cubic-bezier(0.175, 0.825, 0.3, 1.15);
$transition: transform $transition-duration $transition-fn;

$gutter: 0.35em;