@mixin noselect{
  touch-callout: none;
  user-select: none;
}

@mixin card-transition($fn, $easing, $duration){
  transition: $fn $easing $duration;
}

$card-width: 1em;
$card-height: 1.5em;

$transition-duration: 0.5s;
$transition-fn: cubic-bezier(0.175, 0.825, 0.3, 1.15);
$transition: transform $transition-duration $transition-fn;

$gutter: 0.35em;